.kaytol-logo img{
    margin:40px 41%;
    width: 50px;
    height: 60px;
    object-fit: fill;
    background: transparent;
    
}

.kayıtol-card{
    width:45vh ;
    height: 89vh;
    background-color:#202020;
    margin: 5vh auto;
    display: flex;
    flex-direction: column;
    min-height:750px ;
    
    
    }
    .kayıtol-dropbtn{
        color: #fff;
        cursor: text;
        font-size: 14px;
        box-sizing: border-box;
        font-weight: 400;
        font-family: Brutal, sans-serif;
        line-height: 20px;
        width: 80%;
        height:50px ;
        margin:0px 33px  ;
        background-color:#696969;
        border-radius: 4px;
        text-decoration: none;
        text-align: left;
    }
 .kayıtol-adsoyad{
        display: flex;
        justify-content: center;
        padding-right: 2px;
        
    }
.kayıtol-adsoyad input{
  font: inherit;
color: #F4F4F4;
width: 37.5%;
border: 0;
height: 50px;
margin-top: 10px;
margin-left: 8.2px;
margin-right: 8.2px;
background:  #353535;
box-sizing: content-box;
border-radius: 4px;
transform: translateX(-9px);
    }
.kayıtol-görünenad{
    display: flex;
    flex-direction: column;
}
.kayıtol-görünenad input,.kayıtol-şifre input{
    font:Brutal, sans-serif;
    color: #F4F4F4;
    width: 80%;
    border: 0;
    height: 50px;
    margin-top: 10px ;
    margin-left: 30px;
    background:  #353535;
    box-sizing: content-box;
    border-radius: 4px;
   
}
.kayıtol-devamet{
         color: rgba(255, 255, 255, 0.3);
        cursor: text;
        font-size: 14px;
        box-sizing: border-box;
        font-weight: 400;
        font-family: Brutal, sans-serif;
        line-height: 20px;
        width: 80%;
        height:50px ;
        margin:0px 33px  ;
        background-color:rgba(18,18,18,0.5);
        border-radius: 4px;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
}
.kayıtol-teklifler input,.kayıtol-okudum input{
    margin-top: 16px;
    margin-right: 10px;
    margin-left: 35px;
    width: 20px;
    height: 20px;
    background-color: #454545;
    color:#454545; 
    cursor: pointer;
    
    

}
.kayıtol-okudum,.kayıtol-teklifler{
    display: flex;
    margin: 10px 0px;
    color:rgba(244, 244, 244, 0.5);
    font-size: 12px;
    font-family: Brutal, sans-serif;
    
}
.kayıtol-teklifler p{
    max-width: 30vh;
}
.spö-kartı{
    
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 500px;
    max-width:270px ;
    max-height: 733px;
    font-family:roboto,sans-serif ;
    color: rgba(255, 255, 255, 0.5);
    background-color:#202020;
    margin: 25px auto;
    box-sizing: border-box;
    
    
}
.spö-img{
    display: flex;
    justify-content: space-between;
    margin: 10px 15px;
    flex-shrink: 0;
    
    
}
.spö-img img{
    width: 80px;
    height: 120px;
    object-fit: cover;
}
.spö-white{
    
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
    flex-shrink: 0;
   
}
.spö-white p:last-child{
    color: rgba(255, 255, 255, 0.5);
}
.spö-red{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
    
    padding: 0;
    
}
.spö-red p:last-child{
    color:rgba(255, 74, 74, 0.527)

}
.spö-check{
    padding: 5px 5px;
    display: flex;
    
    
}
.spö-check p{
    margin-left: 5px;
}
hr:last-child{
  border-top: 1px rgba(206, 202, 202, 0.1);
  color: rgba(206, 202, 202, 0.1);
  opacity: 0.2;
  max-width: 26vh;
}
.spö-inp{
    margin: 5px auto;
    width: 89%;
    background-color: rgba(18,18,18,0.5);
    border: 2px grey;
    border-style: groove;
    height: 5vh;
    text-align: center;
    max-height: 55px;
}
#spö-ödeme{
    margin-bottom: 10px;
    width: 90%;
    height: 5vh;
    background-color:rgba(221, 216, 216, 0.322) ;
    color:rgba(255, 255, 255, 0.4);
    border: 1px grey;
}
@media screen and (max-width:1700px){

    .kayıtol-adsoyad{
        transform: translateX(10px);
    }
}